h1{

	color: blue;
	font-family: arial, verdana, sanserif;
	font-size: 80px;
	
}

p{		

	font-size: 40px;
	font-family: all;
	font-weight: bold;
	font-variant: small-caps;
	font-style: normal;
	line-height: 234px;

}